:root {
  --black: black;
  --white: white;
  --yellow: #f7ed6d;
  --light-black: #252525;
}

input {
  background-color: transparent;
  color: white !important;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: bold;
  line-height: 44px;
}

a {
  text-decoration: underline;
}

.hero-section {
  background-image: url('../images/hero.png');
  background-position: 50%;
  background-repeat: repeat-x;
  background-size: cover;
  background-attachment: scroll;
  height: 90vh;
  position: relative;
}

.card-section {
  background-image: url('../images/cards.png');
  background-position: 50%;
  background-size: cover;
  min-height: 90vh;
  margin-top: 20px;
  padding-top: 80px;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
}

.details {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  flex-flow: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
}

.body {
  background-color: var(--black);
  font-family: Poppins, sans-serif;
}

.background {
  z-index: -1;
  width: 100%;
  position: absolute;
  inset: 0% auto auto 0%;
}

.hero-content {
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 32px;
  padding-right: 32px;
}

.h1 {
  color: var(--white);
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 90px;
  font-weight: 700;
  line-height: 100%;
}

.heading {
  font-size: 96px;
  line-height: 95px;
}

.text-32 {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 120%;
}

.btn {
  border-radius: 200px 60px;
  padding: 10px 36px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  line-height: 120%;
}

.btn.primary {
  background-color: var(--yellow);
  color: var(--black);
}

.btn.secondary {
  border: 1px solid var(--yellow);
  color: var(--yellow);
  background-color: #f7ed6d00;
}

.btn.small {
  padding-left: 28px;
  padding-right: 28px;
  font-size: 14px;
}

.btn.small.primary {
  white-space: nowrap;
  display: flex;
}

.btn.small.primary.hidden {
  opacity: 0;
  cursor: none;
}

.btn.large {
  padding: 16px 80px;
  font-size: 22px;
}

.card-group {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-content: center;
  margin-top: 80px;
}

.card-intro {
  color: #fff;
  justify-content: center;
  display: flex;
}

.card {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  background-color: #000c;
  border-radius: 100px 36px;
  flex-flow: column;
  align-items: center;
  max-width: 350px;
  padding: 40px 20px;
  display: flex;
  box-shadow: inset 0 0 4px #ffffff80;
}

.card-image {
  width: 200px;
  height: 120px;
}

.card-title {
  color: var(--white);
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.card-content {
  color: var(--white);
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
}

.bg-img {
  object-fit: cover;
  max-height: 100%;
  display: block;
  position: relative;
}

.eingenlayer, .renzo {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.renzo.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.text-44 {
  color: var(--white);
  font-family: Poppins, sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 100%;
}

.text-44.renzo {
  text-align: right;
}

.text-20 {
  color: var(--white);
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
}

.text-20.renzo {
  text-align: right;
}

.content {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 600px;
  display: flex;
}

.content.renzo {
  justify-content: flex-start;
  align-items: flex-end;
}

.detail-image {
  max-width: 512px;
  height: 300px;
}

.highlight {
  color: var(--yellow);
}

.image {
  object-fit: contain;
  height: 100%;
}

.investor-section {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  align-items: center;
  margin-top: 160px;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
}

.footer-section {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  background-image: url('../images/footer.png');
  background-position: 50%;
  background-size: cover;
  justify-content: space-around;
  padding: 160px 5%;
  display: flex;
  position: relative;
}

.investor-title {
  color: #c4c4c4;
  max-width: 612px;
}

.image-2 {
  height: 100%;
}

.investor-group {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  align-items: center;
  display: flex;
}

.investor {
  height: 96px;
}

.investor-img {
  object-fit: contain;
  max-width: 300px;
  height: 100%;
  position: relative;
}

.gradient-border {
  background-image: radial-gradient(circle, #fff, #000 92%);
  width: 100%;
  height: 1px;
}

.gradient-border.top {
  background-image: radial-gradient(circle, #fff 60%, #000 92%);
  margin-bottom: 20px;
}

.gradient-border.btm {
  margin-top: 20px;
}

.hero-subtext {
  color: #fff;
  margin-bottom: 24px;
}

.logo {
  height: 80px;
}

.footer-links {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: space-around;
  align-items: stretch;
  width: 50%;
  display: flex;
}

.column {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  align-items: flex-start;
  display: flex;
}

.footer-link {
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.nav-logo {
  height: 40px;
  padding: 6px;
}

.navbar-no-shadow {
  z-index: 1;
  position: fixed;
  inset: 0% 0% auto;
}

.navbar-no-shadow-container {
  z-index: 5;
  background-color: #0000;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  position: fixed;
  inset: 0% 0% auto;
}

.container-regular {
  width: 100%;
  max-width: 1260px;
  min-height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper-2 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu {
  color: #fff;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-link {
  color: #fff;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: #1a1b1fbf;
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: #1a1b1fbf;
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  color: var(--white);
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-list.shadow-three.mobile-shadow-hide {
  box-shadow: inset 0 0 5px #ffffff80;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-button-wrapper {
  margin-left: 120px;
}

.button-primary-2 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-2:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-2:active {
  background-color: #43464d;
}

.image-3 {
  height: 100%;
}

.menu-dropdown-title {
  color: var(--white);
  font-size: 20px;
}

.image-4 {
  height: 100%;
}

.page {
  background-image: url('../images/hero.png');
  background-position: 50%;
  background-repeat: repeat-x;
  background-size: cover;
  background-attachment: scroll;
  height: 100vh;
  padding-top: 3vh;
  padding-bottom: 5vh;
  position: relative;
}

.page-content {
  grid-column-gap: 27px;
  grid-row-gap: 27px;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  margin-left: 32px;
  margin-right: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.tabs {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #000c;
  border-radius: 100px 37px;
  max-width: 360px;
  padding: 64px 24px;
  box-shadow: inset 0 4px 4px #ffffff40;
}

.tab {
  background-color: var(--light-black);
  color: var(--white);
  border-radius: 76px 28px;
  width: 350px;
  padding: 12px 40px;
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
  transition: transform .15s;
}

.tab:hover {
  text-decoration: none;
  transform: scale(1.02);
}

.tab.active {
  background-color: var(--yellow);
  color: var(--black);
}

.tab-content {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  background-color: #000c;
  border-radius: 100px 37px;
  width: 80%;
  height: 100%;
  min-height: 500px;
  padding: 40px 56px;
  box-shadow: inset 0 4px 4px #ffffff40;
}

.tab-content.eigenlayer {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-content: flex-start;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.tab-content.referral-program {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  padding-top: 64px;
  padding-left: 64px;
  padding-right: 64px;
}

.tab-content.analytics {
  overflow: scroll;
}

.ref-title {
  color: var(--white);
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}

.eigen-body {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  max-height: 540px;
  display: grid;
  overflow: auto;
}

.text-yellow {
  color: var(--yellow);
}

.eigen-service {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: var(--light-black);
  border-radius: 76px 28px;
  flex-flow: column;
  padding: 24px 36px;
  display: flex;
}

.portfolio-stat-header {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.eigenlayer-service-img {
  object-fit: contain;
  width: 36px;
  height: 36px;
}

.portfolio-stat-title {
  color: var(--white);
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
}

.eigen-service-content {
  color: var(--white);
  flex: 1;
  font-size: 13px;
}

.h-divider {
  background-image: radial-gradient(circle farthest-side, #c1c1c1, #c1c1c100);
  width: 100%;
  height: 1px;
}

.eiegenlayer-soon {
  color: #717171;
  background-color: #d9d9d9;
  border-radius: 64px 23px;
  justify-content: center;
  padding: 6px;
  font-size: 10px;
  line-height: 16px;
  display: flex;
}

.nav-stats {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.nav-stat {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  min-width: 140px;
}

.nav-stat-label {
  opacity: .8;
  color: var(--white);
  font-size: 13px;
}

.nav-stat-value {
  color: var(--white);
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}

.nav-stat-divider {
  background-color: #5a5a5a;
  width: 100%;
  height: 1px;
}

.ref-body {
  opacity: .8;
  color: var(--white);
  margin-top: 8px;
  font-size: 18px;
  line-height: 28px;
}

.referral-points {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: var(--light-black);
  border-radius: 76px 28px;
  flex-flow: column;
  padding: 24px 36px;
  display: flex;
}

.referral-points-value {
  font-size: 60px;
  line-height: 64px;
}

.eigenlayer-title, .portfolio-title {
  color: var(--white);
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
}

.portfolio-stat {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: var(--light-black);
  border-radius: 76px 28px;
  flex-flow: column;
  height: 100%;
  padding: 24px 36px;
  display: flex;
}

.portfolio-stats {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.portfolio-stat-header-sub {
  color: var(--white);
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

.portfolio-stats-value {
  font-size: 48px;
  line-height: 56px;
}

.port-stats-value {
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  color: var(--white);
  justify-content: flex-start;
  align-items: center;
}

.port-stats-img {
  width: 40px;
  height: 40px;
}

.port-service-content {
  color: var(--white);
  flex: 1;
  font-size: 13px;
}

.portfolio-body {
  width: 100%;
}

.port-body-title {
  color: var(--white);
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
}

.port-body-header {
  color: var(--white);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.port-table-actions {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: var(--white);
  display: flex;
}

.port-table-filter, .port-table-bals {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.check-box {
  background-color: var(--white);
  border-radius: 4px;
  width: 20px;
  height: 19px;
}

.table-actions-divider {
  background-color: var(--white);
  opacity: .3;
  width: 1px;
}

.port-body-table {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: var(--light-black);
  border-radius: 10px;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: flex;
}

.table-header {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: var(--white);
  border-bottom: 1px solid #ffffff1a;
  grid-template-rows: auto;
  grid-template-columns: 6fr 3fr 2fr 4fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  padding: 15px 20px;
  display: grid;
}

.table-header.defi {
  grid-template-columns: 6fr 3fr 2fr 4fr 1fr;
}

.table-header.port {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.col-1.title {
  color: var(--white);
}

.col-1.row {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  align-items: center;
  display: flex;
}

.col-1.row.total {
  font-size: 20px;
  line-height: 24px;
}

.col-2.title {
  color: var(--white);
}

.col-2.row {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  align-items: center;
  display: flex;
}

.col-3.title, .col-4.title, .col-5.title {
  color: var(--white);
}

.col-6.title {
  color: var(--white);
  width: 115px;
}

.table-row {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: var(--white);
  grid-template-rows: auto;
  grid-template-columns: 6fr 3fr 2fr 4fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  align-items: center;
  padding: 15px 20px;
  font-weight: 600;
  display: grid;
}

.table-row.port {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.table-row.defi {
  grid-template-columns: 6fr 3fr 2fr 4fr 1fr;
}

.port-row-img {
  width: 24px;
  height: 24px;
}

.row-assets-name {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.port-assets-name-sub {
  opacity: .7;
}

.restake-body-content {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  color: var(--white);
  border-radius: 10px;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: flex;
}

.restake-body-title {
  color: var(--white);
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
}

.settings-control {
  justify-content: space-between;
  align-items: center;
}

.restake-item-title {
  font-size: 15px;
  font-weight: 600;
}

.settings-slippage {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  margin-top: 20px;
}

.slippage-btns {
  width: 100%;
  display: flex;
}

.slippage-btn {
  border: 1px solid var(--yellow);
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
}

.slippage-btn.first {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 37px;
}

.slippage-btn.first.active {
  background-color: var(--yellow);
  color: var(--black);
}

.slippage-btn.last {
  border-top-right-radius: 37px;
  border-bottom-right-radius: 100px;
}

.settings-deadline {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.slippage-value {
  border: 1px solid var(--yellow);
  border-radius: 100px 37px;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
}

.slippage-value.first {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 37px;
}

.slippage-value.first.active {
  background-color: var(--yellow);
  color: var(--black);
}

.slippage-value.last {
  border-top-right-radius: 37px;
  border-bottom-right-radius: 100px;
}

.restake-balance {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  opacity: .7;
}

.restake-input {
  width: 100%;
  margin-top: 10px;
  display: flex;
}

.restake-coin {
  border: 1px solid var(--yellow);
  background-color: var(--yellow);
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
}

.restake-coin.first {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  color: var(--black);
  border-top-left-radius: 100px;
  border-bottom-left-radius: 37px;
  flex: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
}

.restake-coin.first.active {
  background-color: var(--yellow);
  color: var(--black);
}

.restake-coin.last {
  border-top-right-radius: 37px;
  border-bottom-right-radius: 100px;
}

.restake-input-p {
  border: 1px solid var(--yellow);
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
}

.restake-input-p.first {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 37px;
}

.restake-input-p.first.active {
  background-color: var(--yellow);
  color: var(--black);
}

.restake-input-p.last {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  border-top-right-radius: 37px;
  border-bottom-right-radius: 100px;
  flex-flow: column;
  padding: 20px;
}

.restake-input-divider {
  background-color: #5a5a5a;
  width: 100%;
  height: 1px;
}

.restake-input-p-t {
  width: 100%;
  display: flex;
}

.max-btn {
  border: 1px solid var(--yellow);
  color: var(--yellow);
  border-radius: 100px 37px;
  justify-content: center;
  align-items: center;
  padding: 1px 10px;
  display: flex;
}

.max-btn.first {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 37px;
}

.max-btn.first.active {
  background-color: var(--yellow);
  color: var(--black);
}

.max-btn.last {
  border-top-right-radius: 37px;
  border-bottom-right-radius: 100px;
}

.restake-input-p-b {
  width: 100%;
  display: flex;
}

.coin-input {
  flex: 1;
  border: none;
}

.coin-input:focus {
  outline: none;
}

.restake-receive {
  border: 1px solid var(--yellow);
  background-color: var(--yellow);
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
}

.restake-receive.first {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  color: var(--white);
  background-color: #0000;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 37px;
  flex: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
}

.restake-receive.first.active {
  background-color: var(--yellow);
  color: var(--black);
}

.restake-receive.last {
  border-top-right-radius: 37px;
  border-bottom-right-radius: 100px;
}

.restake-totals {
  color: var(--white);
  align-items: stretch;
  width: 100%;
}

.restake-totals-row {
  justify-content: space-between;
  display: flex;
}

.restake-content {
  background-color: #000c;
  border-radius: 100px 37px;
  width: 80%;
  height: 100%;
  padding: 40px 24px;
  box-shadow: inset 0 4px 4px #ffffff40;
}

.restake-content.eigenlayer {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-content: flex-start;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.restake-content.referral-program {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  padding-top: 64px;
  padding-left: 64px;
  padding-right: 64px;
}

.defi-body, .analytics-body {
  width: 100%;
}

.proof-title-sub {
  opacity: .75;
  font-size: 13px;
}

.analytics-header {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  color: var(--white);
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 24px;
}

.analytics-body-title {
  color: var(--white);
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
}

.analtics-graph {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: var(--light-black);
  border-radius: 10px;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  height: 200px;
  display: flex;
}

.tab-btn {
  border: 1px solid var(--yellow);
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  display: flex;
}

.tab-btn.first {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 37px;
}

.tab-btn.first.active {
  background-color: var(--yellow);
  color: var(--black);
}

.tab-btn.last {
  border-top-right-radius: 37px;
  border-bottom-right-radius: 100px;
}

.currency-tab, .tabs-graph-period {
  display: flex;
}

.analytics-tab-content {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  max-height: 600px;
}

.page-header {
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
}

.nav {
  z-index: 5;
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  padding: 20px 36px;
  display: flex;
  position: fixed;
  inset: 0% 0% auto;
}

.menu-btn {
  border-radius: 4px;
  padding: 6px;
  display: block;
}

.menu-btn:hover {
  background-color: #ffffff14;
}

.nav-logo-new {
  flex: none;
}

.nav-right {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-start;
  align-items: center;
}

.nav-stats-copy {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: flex-start;
  width: 56%;
  display: grid;
}

.graph-controls {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.deadline-field {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.deadline-label {
  white-space: nowrap;
}

.menu-container {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  background-color: #000;
  border-radius: 0 0 37px 100px;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  max-width: 360px;
  padding: 30px 24px;
}

.menu-btm {
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  margin-top: 64px;
  display: flex;
}

.select-token {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  background-color: #252525;
  border-radius: 100px 37px;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  max-width: 360px;
  padding: 40px;
}

.asset-name {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: #fff;
  align-items: center;
  width: 100%;
  display: flex;
}

.asset-name.title {
  color: var(--white);
}

.asset-name.row {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  align-items: center;
  display: flex;
}

.asset-name.row.total {
  font-size: 20px;
  line-height: 24px;
}

.asset-title {
  font-size: 18px;
}

.select-token-img {
  object-fit: cover;
  border-radius: 50%;
  width: 100%;
  height: 48px;
}

.select-token-img-wrapper {
  object-fit: cover;
  width: 48px;
  height: 48px;
}

.select-token-modal-title {
  color: #fff;
  justify-content: space-between;
  width: 100%;
  font-size: 24px;
  font-weight: 600;
}

@media screen and (max-width: 991px) {
  .h1 {
    font-size: 72px;
  }

  .btn.secondary {
    font-size: 18px;
  }

  .card-group {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .eingenlayer, .renzo {
    flex-flow: column;
  }

  .text-44.renzo, .text-20.renzo {
    text-align: left;
  }

  .content.renzo {
    order: 1;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-section {
    flex-flow: column-reverse;
    align-items: center;
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .investor-group {
    flex-flow: column;
  }

  .logo {
    height: 64px;
  }

  .footer-links {
    width: 100%;
  }

  .footer-link {
    font-size: 18px;
  }

  .container {
    max-width: 728px;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .nav-logo {
    height: 36px;
  }

  .nav-menu-wrapper {
    background-color: #0000;
  }

  .nav-menu {
    background-color: var(--black);
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    display: flex;
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .nav-button-wrapper {
    width: 100%;
    margin-left: 0;
  }

  .menu-button-2 {
    padding: 12px;
  }

  .menu-button-2.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .icon {
    color: var(--white);
  }

  .text-block-2 {
    font-size: 20px;
  }

  .page {
    height: auto;
    padding-top: 12vh;
  }

  .page-content {
    flex-flow: column;
  }

  .tabs {
    flex-flow: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: none;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .tab {
    width: 32%;
    font-size: 15px;
  }

  .tab-content.eigenlayer {
    width: 100%;
  }

  .tab-content.referral-program {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }

  .tab-content.analytics {
    width: 100%;
  }

  .eigen-body {
    grid-template-columns: 1fr 1fr;
  }

  .portfolio-stat-title {
    text-align: center;
  }

  .nav-stats {
    margin-bottom: 24px;
  }

  .portfolio-stat {
    width: 100%;
  }

  .portfolio-stats {
    flex-flow: column;
  }

  .restake-content.referral-program {
    width: 100%;
  }

  .nav {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }

  .menu-btn {
    display: block;
  }

  .nav-stats-copy {
    width: 90%;
    margin-bottom: 24px;
  }

  .menu-container, .select-token {
    flex-flow: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: none;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .btn.small.secondary {
    font-size: 14px;
  }

  .investor-section {
    margin-top: 100px;
  }

  .navbar-brand-2 {
    padding-left: 0;
  }

  .nav-menu {
    flex-direction: column;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px #0000000d;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .mobile-margin-top {
    margin-top: 10px;
  }

  .tabs {
    justify-content: center;
    align-items: flex-start;
  }

  .tab {
    width: 48%;
  }

  .tab-content.eigenlayer {
    padding: 32px;
  }

  .tab-content.referral-program {
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .tab-content.analytics {
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .ref-title {
    font-size: 30px;
  }

  .nav-stat {
    min-width: 120px;
  }

  .ref-body {
    font-size: 15px;
  }

  .port-body-header {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .table-header.port {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .col-1.title {
    min-width: 150px;
  }

  .col-2.title, .col-2.row, .col-6.title {
    display: none;
  }

  .table-row.port {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .analytics-header {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .nav-logo-new {
    padding-left: 0;
  }

  .nav-stats-copy {
    grid-column-gap: 24px;
    grid-row-gap: 12px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }

  .port-body-table-wrapper {
    object-fit: contain;
    width: 100%;
    overflow: auto;
  }

  .menu-container, .select-token {
    justify-content: center;
    align-items: flex-start;
  }

  .asset-name.title {
    min-width: 150px;
  }
}

@media screen and (max-width: 479px) {
  .hero-section {
    height: 80vh;
  }

  .details {
    margin-top: 100px;
  }

  .h1 {
    width: 100%;
    font-size: 48px;
  }

  .text-32 {
    font-size: 16px;
  }

  .btn {
    white-space: nowrap;
  }

  .btn.primary {
    font-size: 18px;
  }

  .btn.small {
    padding: 8px 16px;
  }

  .btn.small.primary, .btn.small.secondary {
    font-size: 14px;
  }

  .btn.small.secondary.port {
    vertical-align: baseline;
    justify-content: center;
    width: 100%;
    display: flex;
  }

  .card-group {
    margin-top: 40px;
  }

  .card-title {
    font-size: 18px;
  }

  .card-content {
    font-size: 14px;
  }

  .eingenlayer, .renzo {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }

  .text-44 {
    font-size: 20px;
  }

  .text-44.renzo {
    text-align: left;
  }

  .text-20 {
    font-size: 14px;
    line-height: 20px;
  }

  .text-20.renzo {
    text-align: left;
  }

  .content.eigenlayer {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .content.renzo {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .detail-image {
    height: 160px;
  }

  .investor-section {
    margin-top: 60px;
  }

  .footer-section {
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .investor {
    height: 48px;
  }

  .investor-img {
    max-width: 160px;
  }

  .logo {
    height: 40px;
  }

  .footer-links {
    flex-flow: column;
    width: 100%;
  }

  .footer-link {
    font-size: 16px;
  }

  .container {
    max-width: none;
  }

  .nav-logo {
    height: 30px;
  }

  .nav-menu {
    border-bottom-right-radius: 36px;
    border-bottom-left-radius: 100px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    height: 320px;
    padding-bottom: 20px;
    padding-right: 24px;
  }

  .nav-button-wrapper {
    width: auto;
  }

  .page {
    height: auto;
    padding-top: 16vh;
  }

  .page-content {
    margin-left: 0;
    margin-right: 0;
  }

  .tabs {
    box-shadow: none;
    border-radius: 0;
    padding: 20px;
  }

  .tab {
    white-space: nowrap;
    padding: 6px 20px;
    font-size: 14px;
  }

  .tab-content {
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    width: 90%;
    padding: 32px 20px;
  }

  .tab-content.eigenlayer {
    width: 90%;
  }

  .tab-content.referral-program {
    width: 90%;
    padding: 40px 20px 20px;
  }

  .tab-content.analytics {
    width: 90%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
  }

  .ref-title {
    font-size: 32px;
  }

  .eigen-body {
    grid-template-columns: 1fr;
  }

  .nav-stat {
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
  }

  .nav-stat-value {
    font-size: 18px;
    line-height: 24px;
  }

  .ref-body {
    font-size: 15px;
  }

  .port-body-header {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .port-table-actions {
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    flex-flow: column;
  }

  .port-body-table {
    align-items: flex-start;
  }

  .table-header.defi {
    grid-template-columns: 6fr 3fr;
  }

  .table-header.port {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .col-2.title {
    display: none;
  }

  .col-2.row {
    display: block;
  }

  .col-2.row.hide-mob {
    display: none;
  }

  .col-4 {
    display: block;
  }

  .col-4.title, .col-4.hide-mob, .col-5.title.hide-mob {
    display: none;
  }

  .col-6 {
    width: 100%;
  }

  .col-6.title {
    display: none;
  }

  .table-row {
    grid-template-columns: 6fr 3fr 2fr 4fr;
  }

  .table-row.port {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-flow: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    display: flex;
  }

  .table-row.defi {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: column;
    grid-template-rows: auto;
    grid-template-columns: 6fr 3fr;
    grid-auto-columns: 1fr;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    display: grid;
  }

  .settings-deadline {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .restake-input {
    flex-flow: column;
  }

  .restake-coin.first {
    border-top-right-radius: 37px;
    border-bottom-left-radius: 0;
  }

  .restake-input-p.last {
    border-top-right-radius: 0;
    border-bottom-left-radius: 37px;
  }

  .restake-receive.first {
    border-top-right-radius: 37px;
    border-bottom-left-radius: 0;
  }

  .restake-totals {
    grid-column-gap: 6px;
    grid-row-gap: 6px;
  }

  .restake-totals-row {
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    border-bottom: 1px solid #ffffff1a;
    flex-flow: column;
    padding-bottom: 6px;
  }

  .restake-content.referral-program {
    border-top-left-radius: 70px;
    width: 90%;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .tab-btn {
    padding-left: 12px;
    padding-right: 12px;
  }

  .analytics-tab-content {
    max-height: none;
  }

  .nav {
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
  }

  .nav-right {
    flex-flow: column-reverse;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .nav-stats-copy {
    grid-template-rows: auto auto;
    margin-bottom: 0;
  }

  .port-body-table-wrapper {
    overflow: auto;
  }

  .deadline-field {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }

  .restake-total-item-name {
    opacity: .7;
  }

  .menu-container, .select-token {
    box-shadow: none;
    border-radius: 0;
    padding: 20px;
  }
}

#w-node-_7b0309ba-5767-44df-7014-3964c4dd7f05-edc3d6f2, #w-node-_2700cdc0-49f0-bfac-9e4f-03cd4f9a95a4-edc3d6f2, #w-node-a24131cf-78cd-1f80-aaa6-445fa9f20d4f-edc3d6f2, #w-node-_9f91041d-25fb-ebd1-74ef-aef7b46e8393-edc3d6f2, #w-node-_29b415ff-90b1-eb63-e0d2-e009ef5cf10c-edc3d6f2, #w-node-cb4b1476-4837-957e-b5bc-bff6380fb57a-edc3d6f2, #w-node-_45ece4ae-e898-6494-7564-f473e6453f5d-edc3d6f2, #w-node-_131579cc-b5fb-2bfc-9895-82071e13b824-edc3d6f2, #w-node-_7b0309ba-5767-44df-7014-3964c4dd7f05-edc3d6f3, #w-node-_2cbbd4fc-65ce-b648-e6ac-62fa2b57c180-edc3d6f4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_9e1cacd1-f27b-9f8f-7bce-d3f073a968dc-edc3d6f4 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-c7824fcc-df1b-8857-ec70-433a04918b6b-edc3d6f4 {
  grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-_4e7c3b37-5baf-7973-67e9-3872106d0478-edc3d6f4, #w-node-_187253c2-83ca-3118-6497-cbff56a64ef3-edc3d6f4, #w-node-f28d42bb-2260-e3fc-a1be-766d974a95f2-edc3d6f4 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_5d701aac-f4c7-9d27-b60d-a19f5c58f319-edc3d6f4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_896415b8-dbe6-99e7-f43c-ad04b43b30bb-edc3d6f4 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-_896415b8-dbe6-99e7-f43c-ad04b43b30be-edc3d6f4 {
  grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-_896415b8-dbe6-99e7-f43c-ad04b43b30c1-edc3d6f4, #w-node-_896415b8-dbe6-99e7-f43c-ad04b43b30c4-edc3d6f4, #w-node-_896415b8-dbe6-99e7-f43c-ad04b43b30c7-edc3d6f4 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-b14302e6-d86a-68aa-10ed-d6ca07814687-edc3d6f4 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-b14302e6-d86a-68aa-10ed-d6ca0781468e-edc3d6f4 {
  grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-b14302e6-d86a-68aa-10ed-d6ca07814692-edc3d6f4, #w-node-b14302e6-d86a-68aa-10ed-d6ca07814695-edc3d6f4, #w-node-b14302e6-d86a-68aa-10ed-d6ca07814698-edc3d6f4 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_4e7c3b37-5baf-7973-67e9-3872106d0478-edc3d6f5, #w-node-_187253c2-83ca-3118-6497-cbff56a64ef3-edc3d6f5, #w-node-f28d42bb-2260-e3fc-a1be-766d974a95f2-edc3d6f5, #w-node-_76473771-f482-5aff-b690-45112d80d0e3-edc3d6f7, #w-node-_76473771-f482-5aff-b690-45112d80d0e6-edc3d6f7, #w-node-_7f89672b-fa5a-d38c-c701-44b2f68d5775-edc3d6f7, #w-node-_7f89672b-fa5a-d38c-c701-44b2f68d5778-edc3d6f7, #w-node-_7f89672b-fa5a-d38c-c701-44b2f68d577b-edc3d6f7 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 767px) {
  #w-node-_896415b8-dbe6-99e7-f43c-ad04b43b30bb-edc3d6f4 {
    grid-column: span 4 / span 4;
  }

  #w-node-_896415b8-dbe6-99e7-f43c-ad04b43b30ca-edc3d6f4 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_9e1cacd1-f27b-9f8f-7bce-d3f073a968dc-edc3d6f4, #w-node-_896415b8-dbe6-99e7-f43c-ad04b43b30bb-edc3d6f4 {
    grid-column: span 3 / span 3;
  }

  #w-node-_896415b8-dbe6-99e7-f43c-ad04b43b30ca-edc3d6f4 {
    grid-area: span 1 / span 7 / span 1 / span 7;
  }

  #w-node-b14302e6-d86a-68aa-10ed-d6ca07814687-edc3d6f4 {
    grid-column: span 3 / span 3;
  }

  #w-node-b14302e6-d86a-68aa-10ed-d6ca0781469b-edc3d6f4 {
    grid-area: span 1 / span 7 / span 1 / span 7;
  }
}


